body {
    background: black;
    font-family: Tahoma;
  }
  
  .monitor {
    position: relative;
    width: 800px;
    height: 600px;
    background: #d896ff;
    margin: auto;
    margin-top: 15vh;
  
  }
  
  .start {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 35px;
    background: #c3c6cd;
    border-top: 3px solid #deebf3;
    display: flex;
    justify-content: space-between;
  }
  .start__button {
    width: 80px;
    height: 72%;
    background: #c3c6cd;
    border-top: 2px solid #deebf3;
    border-left: 2px solid #deebf3;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    margin: 3px;
    display: flex;
    align-items: center;
  }
  .start__button:active {
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid #deebf3;
    border-bottom: 2px solid #deebf3;
  }
  .start__button:hover {
    cursor: pointer;
  }
  .start__logo {
    width: 35px;
    height: 18px;
    position: relative;
  }
  .start__logo::after {
    content: "";
    background: url(https://banner2.kisspng.com/20180821/hrt/kisspng-windows-95-windows-98-microsoft-windows-transparen-windows-95-telegram-stickers-directory-5b7c3cffc178a8.4526616315348687357925.jpg) transparent;
    background-size: contain;
    mix-blend-mode: multiply;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
  }
  .start__text {
    font-size: 14px;
    font-weight: bold;
  }
  .start__time {
    width: 80px;
    height: 72%;
    background: #c3c6cd;
    border-top: 2px solid #85888f;
    border-left: 2px solid #85888f;
    border-right: 2px solid #deebf3;
    border-bottom: 2px solid #deebf3;
    margin: 3px;
    display: flex;
    align-items: center;
  }
  .start__time-text {
    margin: auto;
    font-size: 12px;
  }
  .start__menu-main {
    background: #c3c6cd;
    border-top: 2px solid #deebf3;
    border-left: 2px solid #deebf3;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    width: 20%;
    display: none;
    position: absolute;
    bottom: 38px;
  }

  




  .desktop-icon {
    position: absolute;
    height: 100px;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .desktop-icon__icon {
    height: 50px;
  }
  .desktop-icon__text {
    color: white;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 0;
  }
  .desktop-icon:hover {
    cursor: pointer;
  }

  
  
  .folder1{
    top: 40px;
    left: 50px;
  }
  .folder1__icon {
    width: 53px;
    background: url(folder.png);
    background-size: contain;
  }

  .folder2{
    top: 40px;
    left: 150px;
  }
  .folder2__icon {
    width: 53px;
    background: url(folder.png);
    background-size: contain;
  }

  .folder3{
    top: 40px;
    left: 250px;
  }
  .folder3__icon {
    width: 53px;
    background: url(folder.png);
    background-size: contain;
  }

  
  


  .start__menu-main-items-item-arrowright {
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid black;
    margin-left: auto;
    margin-right: 7px;
  }
  
  .underline {
    text-decoration: underline;
  }
  
  .menu-open {
    display: flex;
  }
  
  .icon-clicked {
    border: 1px dashed black;
  }
  
  .bg-img {
    background-image: url(https://i.pinimg.com/originals/96/17/c0/9617c03faeb0986659acd2fa7ff87a26.png);
    object-fit: cover;
    width: 200px;
    height: 200px;
    mix-blend-mode: multiply;
  }
  
  .settings-img {
    background-position: 87% 21%;
  }
  
  .find-img {
    background-position: 25% 22%;
  }
  
  .run-img {
    background-position: 0% 80%;
  }
  
  .shutdown-img {
    background-position: 75% 79%;
  }



  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  *:before, *:after {
    box-sizing: border-box;
  }
  
  :root {
    font-size: 10px;
  }
  
  body {
    min-height: 100vh;
    background-color: #2e3435;
    font-family: "VT323", sans-serif;
    -webkit-font-smoothing: antialiased;
  }
  
  .window__scrollbar {
    background-color: white;
    background-image: linear-gradient(45deg, #efeef0 25%, transparent 25%, transparent 75%, #efeef0 75%, #efeef0), linear-gradient(45deg, #efeef0 25%, transparent 25%, transparent 75%, #efeef0 75%, #efeef0);
    background-size: 2px 2px;
    background-position: 0 0, 1px 1px;
  }
  
  .window__scroll, .window__button, .window {
    border-left: 2px solid white;
    border-top: 2px solid white;
    border-right: 2px solid #868a8e;
    border-bottom: 2px solid #868a8e;
  }
  
  .window__text {
    border-left: 2px solid #868a8e;
    border-top: 2px solid #868a8e;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
  }
  
  .window__button:active {
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
  }
  
  .window {
    position: absolute;
    top: calc(50% - 200px);
    left: calc(50% + 200px);
    min-width: 240px;
    min-height: 240px;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    background: #c3c7cb;
    font-size: 1.7rem;
    z-index: 10;
  }
  .window ::selection {
    background-color: #071bb7;
    color: #fff;
  }
  .window:focus, .window.is-active {
    outline: none;
  }
  .window:focus .window__toolbar, .window.is-active .window__toolbar {
    background: #071bb7;
  }
  .window.is-minimized {
    height: 0;
    min-height: 40px;
    position: absolute;
    top: auto !important;
    bottom: 0 !important;
    overflow: hidden;
  }
  .window.is-maximized {
    width: 100%;
    height: 100vh;
    top: 0 !important;
    left: 0 !important;
    bottom: auto !important;
  }
  .window.is-maximized .window__input {
    height: 100% !important;
    width: 100% !important;
  }
  .window__toolbar {
    width: 100%;
    min-height: 3rem;
    padding: 0.5rem;
    background: #5a6168;
    color: #fff;
    display: flex;
    justify-content: space-between;
  }
  .window__menu {
    width: 100%;
    padding: 0.2rem;
    background: #c3c7cb;
  }
  .window__buttons {
    display: flex;
  }
  .window__button {
    width: 2rem;
    height: 2rem;
    appearance: none;
    background: #c3c7cb;
    line-height: 1;
    font-size: 1.7rem;
    display: inline-block;
    margin: 0;
    user-select: none;
  }
  .window__button:last-child {
    margin-left: 0.35rem;
  }
  .window__button:focus {
    outline: 1px dashed black;
    outline-offset: -3px;
  }
  .window__button:active {
    outline: none;
  }
  .window__item {
    color: black;
    display: inline-block;
    text-decoration: none;
    margin: 0 0.15em;
    padding: 0.35rem;
  }
  .window__item:focus, .window__item:active {
    background: #071bb7;
    color: white;
  }
  .window__item:first-letter {
    text-decoration: underline;
  }
  .window__text {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-grow: 1;
    background: white;
  }
  .window__text:before {
    content: "";
    display: block;
    background: #ecedef;
    height: 2rem;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  .window__input {
    width: 100%;
    padding: 0.5rem;
    min-width: 240px;
    min-height: 200px;
    font-size: 1.7rem;
    font-family: "VT323", sans-serif;
    z-index: 2;
    background: none;
    resize: both;
    overflow: auto;
  }
  .window__input:focus, .window__input:active {
    outline: none;
  }
  .window__scroll {
    width: 2rem;
    height: 2rem;
    appearance: none;
    background: #c3c7cb;
    line-height: 0;
    font-size: 2rem;
    display: inline-block;
    margin: 0;
  }
  .window__scrollbar {
    position: absolute;
    display: flex;
    justify-content: space-between;
    z-index: 3;
  }
  .window__scrollbar--y {
    top: 1px;
    right: 0;
    height: calc(100% - 2.1rem);
    flex-direction: column;
  }
  .window__scrollbar--x {
    bottom: 0;
    left: 1px;
    width: calc(100% - 2.1rem);
  }
  
  .secret {
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    color: #071bb7;
    animation: blink 1.5s steps(3, end) infinite;
  }
  @keyframes blink {
    from {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }






 
 